
.logo{
    width: 29rem;
    position: relative;
    bottom: 2.8rem;
}

.text{
    font-family: lato;
    width: 55rem;
    
   
}

#titleblock1{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #01042f;
    width: rem;
}

#textblock1{
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
}

.block1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
    
}

.logoandtext{
    display: flex;
    align-items: center;

}

.imgs{
    display: flex;
    gap: 2.5rem;

}

.imgs img{
    width: 7.5rem;
}

#downimg{
    margin-top: 7rem;

}

#upimg{
    margin-bottom: 7rem;
  
}

#division1{
    margin-top: 15rem;
    width: 100vw;
}