


.aboveHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #00043C;
    font-family: lato;
    font-weight: 400;
    font-size: 1.6rem;
    height: 3.2rem;
    gap: 28rem;
    
    
}

#loginicon {
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#registericon {
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.loginAndRegister{
    display: flex;
    font-size: 0.7rem;
    gap: 1.6rem;
    font-family: Koulen;
    color: #00043C;
    
    
}





.navbar{
    background-color: #00043C;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 15.5vw;
}

#logolessionato{
    width: 3.6rem;
   
}
#logoescrita{
    width: 16rem;
    
}
.logos{
    text-wrap: nowrap;
    cursor: pointer;
}



.navpages{
    color: white;
    display: flex;
    gap: 2rem;
    font-family: Poppins;
    font-weight: 200;
    font-size: 1.6rem;
    text-wrap: nowrap;
    
}

.navpages li{
    cursor: pointer;
}

.socialmedias{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.socialMediasAndCart{
    display: flex;
    gap: 3.6rem;
    justify-content: center;
    
}

#cart{
    width: 2rem;
    display: flex;
    margin-bottom: 0.6rem;
    cursor: pointer;

}





#line{
    height: 0.8rem;
    background-color: #164B70;
}


