


#line{
    height: 0.8rem;
    background-color: #164B70;
}





.text{
    font-family: lato;
    width: 55rem;
    
   
}

#titleblock1{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #01042f;
    width: rem;
}

#textblock1{
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    text-align: justify;
}

.block1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
    
}

.logoandtext{
    display: flex;
    align-items: center;

}

.imgs{
    display: flex;
    gap: 2.5rem;
    padding-left: 2rem;

}

.imgs img{
    width: 7.5rem;
}

#downimg{
    margin-top: 7rem;

}

#upimg{
    margin-bottom: 7rem;
  
}

#division1{
    margin-top: 15rem;
    width: 100vw;
}






.areatitle{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    font-family: lato;
    max-width: 300rem;
}



#title{
    font-size: 5.5rem;
    color: #01042F;
}

#description{
    font-size: 1.7rem;
    width: 80rem;
    text-align: center;
    color: #01042F;
    margin-top: 2rem;
}

.coursecards{

    display: flex;
    flex-wrap: wrap;
    gap: 4.2rem;
    justify-content: space-around;
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
    
}

.titlecourses{
    font-size: 5.5rem;
    color: #01042F;
}

.descriptioncourses{
    font-size: 1.7rem;
    width: 105rem;
    text-align: center;
    color: #01042F;
    margin-top: 2rem;
}

.areatitlecourses{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 28rem;
    font-family: lato;
    max-width: 300rem;
}

.division{
    position: absolute;
    z-index: -1;
    width: 100vw;
    margin-bottom: 10rem;
}

.courseareasbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200rem;
}

.btn{
    cursor: pointer;
    display: flex;
    background-color: #01042F;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 15rem 15rem;
    width: 40rem ;
    height: 5rem;
    border-radius: 3rem;
    font-family: lato;
    font-size: 2.2rem;
}

.btn:hover {
    transition: 0.5s;
    background-color: #01042fce;
    
}


#btnicon{
    position: relative;
    left: 1.5rem;
    top: 0.6rem;
    width: 3rem;
}




.certificatedblock{

    margin: 0rem 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.divisioncertificated{
    margin-top: 7rem;
    margin-bottom: 10rem;
    width: 100vw;
}

#logolessionatoL{
    width: 10rem;
    margin-bottom: 10rem;
}
#logolessionato{
    width: 30rem;
    margin-left: 2rem;
    margin-bottom: 10rem;
}

.certificateddescription {
    font-family: lato;
    font-size: 2rem;
    width: 100vw;
    margin-top: 5rem;
    
    
}

.descriptionandcertificated{
    display: flex;
    gap: 9rem;
    color: #01042f;
    align-items: center;
    justify-content: center;
    

}

.certificated{
    width: 190rem;
}

.title{
    display: flex;
    font-size: 5rem;
    font-family: lato;
    color: #01042f;
    align-items: center;
    gap: 3rem;
}


@media (max-width: 1186px) {

    
    .certificatedblock{

        margin: 0rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    

    
    
    .certificateddescription {
        font-family: lato;
        font-size: 2rem;
        width: 80vw;
        margin-top: 5rem;
        text-align: justify;
        
        
    }
    
    .descriptionandcertificated{
        display: flex;
        flex-direction: column;
        gap: 9rem;
        color: #01042f;
        align-items: center;
        justify-content: center;
        
    
    }
    
    .certificated{
        width: 80rem;
    }
    


   
    

}


@media (max-width: 790px) {

    .block1{
        flex-direction: column;
        
    }




  

    .logo{
        width: 25rem;
        padding-left: 10rem;
    }

    #titleblock1{
        font-size: 2rem;
        width: 30rem;
        text-align: start;
    }

    #textblock1{
        font-size: 1.5rem;
        width: 30rem;
        text-align: justify;
    }

    .imgs{
      display: none;
    
    }


    
    .block1{
        margin-top: 15rem;
        
    }





    


    
    
    
    #title{
        font-size: 3.5rem;
        color: #01042F;
    }
    
    #description{
        font-size: 1.3rem;
        width: 50rem;
        text-align: center;
        color: #01042F;
        margin-top: 2rem;
    }

    .btn{
      
        margin: 5rem 10rem 15rem 10rem; 
        
    }



    .certificatedblock{

        margin: 0rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    

    
    
    .certificateddescription {
        font-family: lato;
        font-size: 2rem;
        width: 80vw;
        margin-top: 5rem;
        text-align: justify;
        
        
    }
    
    .descriptionandcertificated{
        display: flex;
        flex-direction: column;
        gap: 9rem;
        color: #01042f;
        align-items: center;
        justify-content: center;
        
    
    }
    
    .certificated{
        width: 60rem;
    }
    



    
    }
    












