@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');


.areatitle{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    font-family: lato;
    max-width: 300rem;
}

#title{
    font-size: 5.5rem;
    color: #01042F;
}

#description{
    font-size: 1.7rem;
    width: 80rem;
    text-align: center;
    color: #01042F;
    margin-top: 2rem;
}

.coursecards{

    display: flex;
    flex-wrap: wrap;
    gap: 4.2rem;
    justify-content: space-around;
    margin-top: 15rem;
    margin-left: 10rem;
    margin-right: 10rem;
    
}

.division{
    position: absolute;
    z-index: -1;
    margin-top: 10rem;
    width: 100vw;
}

.courseareasbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200rem;
}

.btn{
    cursor: pointer;
    display: flex;
    background-color: #01042F;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 6rem 6rem;
    width: 40rem ;
    height: 5rem;
    border-radius: 3rem;
    font-family: lato;
    font-size: 2.2rem;
}

.btn:hover {
    transition: 0.5s;
    background-color: #01042fce;
    
}


#btnicon{
    position: relative;
    left: 1.5rem;
    top: 0.6rem;
    width: 3rem;
}



