.footer{
    background-color: #01042f;
    height: 50rem;
    margin-top: 15rem;
    color: white;
    font-family: lato;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    gap: 20rem;
}

.footer ul {
    margin-top: 10rem;
    line-height: 5rem;
}

.logofooter{
    margin-top: 4rem;
        width: 25rem;
}

.footer li{
    color: white;
}

@media (max-width: 1186px){

    .footer  {
        gap: 8rem;
        font-size: 1.2rem;
    }

    .logofooter{
        margin-top: 4rem;
            width: 17rem;
    }

}

@media (max-width: 790px) {

    .footer  {
        gap: 2rem;
        font-size: 1.2rem;
    }

    .logofooter{
        margin-top: 4rem;
            width: 17rem;
    }


}