.certificatedblock{

    margin: 0rem 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.division{
    margin-top: 7rem;
    margin-bottom: 10rem;
    width: 100vw;
}

#logolessionatoL{
    width: 10rem;
    margin-bottom: 10rem;
}
#logolessionato{
    width: 30rem;
    margin-left: 2rem;
    margin-bottom: 10rem;
}

.certificateddescription {
    font-family: lato;
    font-size: 2rem;
    width: 60rem;
    margin-top: 5rem;
    
    
}

.descriptionandcertificated{
    display: flex;
    gap: 9rem;
    color: #01042f;
    align-items: center;
    justify-content: center;
    

}

.certificated{
    width: 60rem;
}

.title{
    display: flex;
    font-size: 5rem;
    font-family: lato;
    color: #01042f;
    align-items: center;
    gap: 3rem;
}