#division {
    margin-top: 10rem;
    width: 100vw;
}

.areatitle{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    font-family: lato;
    max-width: 300rem;
}

.coursecards{

    display: flex;
    flex-wrap: wrap;
    gap: 4.2rem;
    justify-content: space-around;
    margin-left: 10rem;
    margin-right: 10rem;
    
}

.background{
 position: absolute;
 z-index: -1;
 margin-top: 25rem;
 width: 100vw;
}

