.title{
    font-size: 4rem;
    font-family: lato;
    color: #01042f;
    margin-top: 8rem;
    margin-bottom: 7rem;

}

.description{
    font-family: lato;
    color: #01042f;
    font-size: 2rem;
  width: 100vw;
  line-height: 4rem;
  width: 10rem;
  text-align: justify;
}

.politicadeprivacidade{
    width: 165rem;
    margin-left: 12rem;

}

.title2{
    font-size: 3.5rem;
    font-family: lato;
    color: #01042f;
    margin-top: 5rem;
    margin-bottom: 3rem;
}



@media (max-width: 1186px){

    
    .politicadeprivacidade{
        width: 90rem;
        margin-left: 2rem;
    
    }
    
    
    
    }
    
    @media (max-width: 790px) {
    
            
    .politicadeprivacidade{
        width: 55rem;
        margin-left: 2rem;
        line-height: 5rem;
    
    }
    
    .title{
        
        margin-top: 15rem;
       
    
    }
}
